<tr id="submitted_answer_row_<%= submitted_answer.id %>">

  <td id="submitted_answer_username_<%= submitted_answer.id %>">
    <%= submitted_answer.answerer.username %>
  </td> 

  <td id="submitted_answer_body_<%= submitted_answer.id %>">
    <%= submitted_answer.body %>
  </td>

  <td>
    <%= link_to "Mark as correct", "this link does not work" %>
  </td>
</tr>
